<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-KGWCBPN');</script>
  <!-- End Google Tag Manager -->
  
  <meta charset="utf-8">
  <title>Verb Energy</title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0' name='viewport' />
  <meta name="description" content="
                                    No jitters. No crash. No chemicals. Just focused, all-day, feel-good energy. 
                                    " />
  <meta name="author" content="Verb Energy, Inc." />
  <meta name="copyright" content="2017" />
  <meta name="robots" content="index, follow" />
  <meta name="robots" content="noodp, noydir" />
  <meta name="subject" content="
                                No jitters. No crash. No chemicals. Just focused, all-day, feel-good energy. 
                                ">
  <meta name="Language" content="English">
  <meta http-eqiv="Expires" content="never">
  <meta http-eqiv="CACHE-CONTROL" content="NO-CACHE">
  <meta http-eqiv="PRAGMA" content="NO-CACHE">
  <meta name="Publisher" content="Verb Energy, Inc">
  <meta name="Revisit-After" content="10 days">
  <meta name="distribution" content="Global">
  <meta name="country" content="USA">
  <meta name="MSSmartTagsPreventParsing" content="true">
  <meta name="rating" content="General">
  <meta name="ms.locale" content="EN-US">
  <meta name="category" content="homepage">
  <meta name="url" content="https://www.verbenergybar.com">
  <meta name="google-site-verification" content="bZwITXADeckUh-kC_elVDED-Ibk2e-DhdZh7jtdU8No" />

<!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900|Montserrat+Alternates:400i,700i" rel="stylesheet">
  <link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" type="text/css" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="https://js.stripe.com/v3/"></script>

  
  <!-- <link rel="stylesheet" href="/css/shop.css"> -->
  <!-- <link rel="stylesheet" href="/css/main_v1.08.css"> -->
  <link rel="stylesheet" href="/css/main-style.css">

</head>

<body>
<section>
<div class="container content w-100 mt-5 pt-5">
	<div class="row">
		<div class="col-sm-6 col-12">
		<h3>Sorry, that page doesn't exist. Enjoy a picture of Bennett instead!</h3>
		<a href="/"><h4 class="mt-5">&gt;Click here to go back</h4></a>
		</div>
	
	
		<div class="col-sm-6 col-12">
			<img src="/img/bennett_fabio.png">
		</div>
	</div>
</div>
</section>

<link rel="stylesheet" href="/css/shop.css">
<script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>
 <script src="/js/main_v1.4.js"></script>
</body>

</html>