<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="utf-8">
  <title>Monteiro CPSC490</title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0' name='viewport' />
  <meta name="author" content="Andre Monteiro" />

  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900|Montserrat+Alternates:400i,700i" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  <script src="https://js.stripe.com/v3/"></script>
  <link rel="stylesheet" href="/css/main-style.css">
</head>

<body>
  
  <header id="top" class="w-100 iphone7 pb-sm-5 pt-2">
		<div class="container" style="padding-top:0;">
			<div class="row">
				<div class="col-sm-6 col-12">
					<div class="header-images row">
						<div>
								<img style="width:100%" src="/img/main-product.png">
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-12 mt-sm-5 mt-1 mb-5 mobile-12">
					<div class="row mb-4 mt-1 text-center">
						<h2 class="landing mb-3 w-100 ">OH S#!T</h2>
						<!-- <h2 class="landing fade-in mb-3 w-100">Except better.</h2> -->
						<p class="w-100 h5 mobile-12 ">Don't get caught with your pants down.</p>
					</div>
					<div class="row">
						<div class="col-6 offset-3">
							<button class="w-100 landing-button main-order-button"
								style="color:white;"
						  		type="button" 
						  		class="btn btn-primary" 
						  		data-item-id="tp-pack"
						  		data-item-name="TP Mega Pack"
						  		data-item-quantity=1
						  		data-item-image="/img/main-product.png"
						  		data-item-price=20
						  		>
							    Get your TP on
							  </button>
						</div>
					</div>
				</div>
			</div>
		</div>
  </header>
  <!-- END HEADER -->


	
  <!-- ABOUT PRODUCT -->
  <section id="AboutProduct" class="pb-sm-5">
  	<div class="container">
  		<div class="row">
  			<div class="col-sm-10 offset-sm-1 col-12" id="about-description">
  				<div class="row">
  					<div class="col-md-4 col-12 mt-5 mb-md-5">
  						<h4 class="mb-3">No more worrying.</h4>
  						<p class="mb-0">Don't stress about making a TP run when you're in a rush.</p>
  					</div>
  					<div class="col-md-4 col-12 mt-5 mb-md-5">
  						<h4 class="mb-3">Save time and money.</h4>
  						<p class="mb-0">Our mega-packs are the best bang for your buck.</p>
  					</div>
  					<div class="col-md-4 col-12 mt-5 mb-5">
  						<h4 class="mb-3">Start feeling incredible.</h4>
  						<p class="mb-0">The smoothest wipe you've experienced.</p>
  					</div>
  				</div>	
  			</div>
  		</div>
  	</div>
  </section>
  <!-- END ABOUT PRODUCT -->

  <script src="/js/custom_cart.js"></script>

  <!-- FOOTER -->
  <footer>
    <div class="container">
        <div class="desktop-4 mobile-12">
          <h4>Quick Links</h4>
          <div class="footer-content">
            <ul class="footer-list">

                <li class="footer-item">
                  <a href="/cart">Cart</a>
                </li>
            </ul>
          </div>
        </div><div class="desktop-4 mobile-12">
          <h4>Contact</h4>
          <div class="footer-content">
            <ul class="footer-list">
              <li class="footer-item">
                <a href="mailto:andre.monteiro@yale.edu">andre.monteiro@yale.edu</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
  </footer>
  </div>
</body>
</html>